/* Navbar */
.custom-navbar {
    background-color: #213A65; /* Dark blue */
    border-bottom: 3px solid #FAC40D; /* Gold line */
    z-index: 1000; /* Ensure it stays above other elements */
    position: fixed; /* Keep the navbar fixed at the top */
    top: 0; /* Align to the top */
    width: 100%; /* Full width */
}

/* Main Content Container */
.document-container {
    margin-top: 70px; /* Ensure content is below the navbar */
    padding: 20px;
}

/* Page Title Styling */
.document-welcome {
    font-size: 2rem;
    font-weight: bold;
    color: #213A65; /* Dark blue */
    margin-bottom: 15px;
}

/* Description Styling */
.document-description {
    font-size: 1.2rem;
    color: #4a4a4a; /* Dark grey */
}
