/* Login Header (Dark Blue) */
.custom-header {
    background-color: #213A65;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    border-bottom: none;
}

/* Register Header (Gold) */
.custom-header-gold {
    background-color: #FAC40D;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    border-bottom: none;
}

/* Button for Login (Gold) */
.custom-button {
    background-color: #FAC40D;
    border: none;
    color: #213A65;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px;
}

.custom-button:hover {
    background-color: #e6ae0c;
    color: white;
}

/* Button for Register (Dark Blue) */
.custom-button-blue {
    background-color: #213A65;
    border: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px;
}

.custom-button-blue:hover {
    background-color: #192b4d;
}

/* Links */
.custom-link {
    color: #213A65;
    font-weight: bold;
    text-decoration: none;
}

.custom-link:hover {
    color: #FAC40D;
    text-decoration: underline;
}
